body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    color: #343a40;
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background: #ffffff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 10px;
    color: #495057;
}
input[type="text"], input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 10px;
    border: 1px solid #dee2e6;
    text-align: left;
}
th {
    background-color: #e9ecef;
}
.delete-button {
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.delete-button:hover {
    background-color: #c82333;
}
.reset-button {
    background-color: #ffc107;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.reset-button:hover {
    background-color: #e0a800;
}
.start-button {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.start-button:hover {
    background-color: #218838;
}
.end-button {
    background-color: #17a2b8;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.end-button:hover {
    background-color: #138496;
}